# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Build-Produkte
*.app
*.ipa
*.dSYM

# Provisioning Profile und Zertifikate
*.mobileprovision
*.p12
*.cer
*.der

# Dateien für den Simulator (könnte hilfreich sein, falls du Simulator-Logs oder Data brauchst)
*.app.dSYM

# Xcode Projekt-Spezifisch
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Weitere Daten
.idea/
.vscode/
